body {
    background: #fdfdfd;
}

.card-img--height{
    height: 180px;
    object-fit: cover;
}
.invalid-feedback{
    display: block;
}
input.invalid{
    border-color: #dc3545;
}

.card-icons{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.card-icons span{
    cursor: pointer;
}
.material-icons.orange600{
    color: #FB8C00;
}