body {
    background: #fdfdfd;
}

.card-img--height{
    height: 180px;
    object-fit: cover;
}
.invalid-feedback{
    display: block;
}
input.invalid{
    border-color: #dc3545;
}

.card-icons{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.card-icons span{
    cursor: pointer;
}

.movpage{
    background-repeat: no-repeat;
    background-size: cover;

}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.yellow { color: yellow; }

.icons:first-child{
    margin-left: 20px;
}

.icons__item-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d6efd;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
}

.movie-icon{
    cursor: pointer;
}

/*===== TABS =====*/
.nav-item{
    padding: 15px;
}

.nav-link{
    text-decoration: none;
}